@import url(https://db.onlinewebfonts.com/c/d7e8a95865396cddca89b00080d2cba6?family=SoDo+Sans+SemiBold);
body,html{
    box-sizing: border-box;
    overflow-x: hidden;
 
}
li{
    font-family: "Sodo Sans SemiBold";
}
.navbar{
    padding: 20px 40px !important;
    position: fixed;
    width: 100%; 
    z-index: 1000; 
}
.nav-link{
    margin-left: 24px;
    font-size: 14px;
    color: black;
    padding: 8px 0;
}

.container-fluid{
    margin: 0;
    padding: 0;
    width: 1024px;

}
.loc a{
    text-decoration: none;
    color: black;
    font-family: Calibri;
    font-weight: bold;
}
.loc a:hover{
    color: #00754A !important;
 }
.btn1{
    border: 1px solid black;
    border-radius: 20px;
    font-size: 0.9rem;
    background-color: white;
    padding: 5px 16px;
    font-family: Cambria;
    font-weight: bold;
}
.btn2{
    border: 1px solid black;
    border-radius: 20px;
    font-size: 12px;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 8px 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.subnav{
  margin-top: 110px !important;
}
.sub-nav .nav-link{
  font-size: 1rem;
}
.nav-item{
   list-style: none;
}
.nav-link:hover{
    color: #00754A !important;
 }
.sub-nav{
    padding-right: 40px !important;
    padding-left: 65px !important;;
    background-color: #F9F9F9;
}
.subnav .nav-link{
    padding: 16px 0;
    font-family: calibri;
}
.item1{
    text-decoration: underline;
}
.container{
    margin: 0;
}
.drinks{
    list-style: none;
    padding-left: 120px;
}
.lists-item{
    list-style: none;
}

.menu-title1{
    padding-left: 120px;
    font-weight: bold;
    font-size: 19px;
}
.menu-title2{
    font-weight: bold;
    font-size: 19px;
}
.menu1{
    margin-top: 24px;
    padding: 0;
}
.drinks li{
    font-family: Calibri;
    color: #00000094;
}
.menu-text{
    font-size: 28px;
    font-weight: bold;
    font-family: "Sodo Sans SemiBold";
    padding-bottom: 48px;
    font-weight: bolder;
    margin: 0;
}
.menu-text2{
    font-size: 20px;
    font-weight: bolder;
    padding-bottom: 16px;
}
.baseMenu{
    padding: 40px 0px 0px 119px;
    max-width: 100% !important;
}
hr{
    padding-bottom: 32px ;
}
.img-text3{
    padding-top: 35px;
}
.img-text4{
    padding-top: 35px;
}
.img-text5{
    padding-top: 35px;
}
.img-text6{
    padding-top: 35px;
}
.img-text7{
    padding-top: 35px;
}
.footer{
    padding-top: 24px !important;
    padding: 0 40px;
    line-height: 36px;
    border-top: 1px solid rgb(190, 186, 186);
  }
  
  .footer p{
    color: rgb(113, 101, 101);
  }
  
  .footer p:hover{
    color: rgb(14, 14, 14);
    cursor: pointer;
  }
  
  .careers{
    line-height: 34px;
  }
  .socialimpact{
    line-height: 44px;
  }
  .socialimpact .env{
    line-height: 19px;
  }
  
  .sb-footer{
    text-decoration: none;
    list-style: none;
    display: flex;
  }
  .last-footer{
    margin-bottom: 160px;
  }
  .sb-footer a i{
    border-radius: 20px !important;
  }
  .sb-footer a{
    font-size: 26px;
  }
  .footer-content{
    padding-bottom: 146px;
  }
  .fa-icon-circle {
    display: inline-flex;       
    width: 32px;                
    height: 32px;           
    align-items: center;          
    justify-content: center;      
    border-radius: 50%;         
    background-color: #000;       
    color: #fff !important;                  
    text-decoration: none;            
  }
  
  .fa-icon-circle i {
    font-size: 20px;             
    color: #fff !important;                      
  }
  .fa-spotify{
     font-size: 29px;
  }
  
  .sb-footer2 a{
    text-decoration: none;
    font-family: Arial;
    color:#000;
    
  }
  .sb-footer2 a:hover{
    text-decoration: underline;
  }
  .sb-footer2 ul{
    padding: 0;
    list-style: none !important;
  }
  .sb-footer li{
    margin-right: 10px;
  }
  .paragraph1{
    text-align: center;
  }
  .paragraph2{
    text-align: center;
  }
  #footerparagraph{
    font-size: 14px;
    cursor: auto;
    padding: 16px 0;

  }
  #accordionFlushExample{
    display: none;
  }
  .fixed-nav{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    padding: 25px 10px;
    position: fixed;
    background-color: #1E3932;
    z-index: 100;
    bottom: 0;
  }
.fixed-nav span{
    color: #FFFFFFB3;
}
#dropdownMenuButton{
    background: transparent;
    border-right: transparent;
    border-left: transparent;
    border-top: transparent;
    border-radius: 1px;
}
.btns .md-btn1,.md-btn2 {
  display: none !important;
}
.nav-item2{
  display: none;
}
.md-hr{
  display: none;
  padding: 0;
}
.md-btn1{
  border: 1px solid black;
  border-radius: 20px;
  font-size: 0.9rem;
  background-color: white;
  padding: 5px 16px;
  font-family: Cambria;
  font-weight: bold;
  margin-right: 15px;
}
.md-btn2{
  border: 1px solid black;
  border-radius: 20px;
  font-size: 12px;
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 8px 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
a,.md-btn1{
  text-decoration: none;
}
@media only screen and (max-width: 1104px ){
    .btn2{
        font-size: 11px !important;
    }
    .nav-link{
        padding: 0 !important;
    }
    .sub-nav{
        padding: 10px;
      }
}
@media only screen and (max-width: 1052px ){
    .btn1{
        font-size: 10px !important;
    }
    .btn2{
        font-size: 9px !important;
    }
}
@media only screen and (max-width: 993px){
  .loc{
    display: block;
  }
  .btn1{
    display: block;
  }
  .btn2{
    display: block;
  }
}
@media only screen and (max-width: 992px ){
    .loc{
        display: none;
      }
      .btn1{
        display: none;
      }
      .btn2{
        display: none;
      }
      .menu1{
        display: none;
      }
   .container{
    max-width: 100% !important;
   }
   .menu-contents{
    width: 150% !important;
    margin: 0 !important;
    height: auto;
   }
   #accordionFlushExample{
    display: block;
  }
  .about{
    display: none;
   }
   .careers{
    display: none;
   }
   .socialimpact{
    display: none;
   }
   .env{
    display: none;
   }
   .fbp{
    display: none;
   }
   .oap{
    display: none;
   }
   .accordion-content li {
    list-style: none;
   }
   .accordion-content a{
    text-decoration: none;
    left: 0;
    padding: 0;
    color: black;
   }
   .sub-nav{
    padding: 30px 0 !important;
   }
   .baseMenu{
    padding: 0;
   }
   .accordion-content{
    padding: 0;
    font-family: Arial !important;
   }
   .accordion-content a{
    font-family: Arial !important;
    font-size: 14px;
    color: #00000094;
   }
  
   .row2{
    margin-top: 14px !important;
   }
   .row3{
    margin-top: 14px !important;
   }
   .row4{
    margin-top: 14px !important;
   }
   .row5{
    margin-top: 14px !important;
   }
   .row7{
    margin-top: 14px !important;
   }
   .row8{
    margin-top: 14px !important;
   }
   .row10{
    margin-top: 14px !important;
   }
   .row12{
    margin-top: 14px !important;
   }
   .nav-link{
    padding: 8px 0 !important;
  }
}
@media only screen and (max-width: 991px){
  .btns .md-btn1,.md-btn2 {
    display: block !important;
  }
  .nav-item2{
    display: block !important;

  }
  .nav-item2 a{
    text-decoration: none;
    color: black;
  }
  .md-hr{
    display: block !important;
  }
}
@media only screen and (max-width: 426px){
  .subnav{
    padding: 0 !important;
  }
}
