@import url(https://db.onlinewebfonts.com/c/d7e8a95865396cddca89b00080d2cba6?family=SoDo+Sans+SemiBold);
body,html {
    overflow-x: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
  }
.navbar {
    padding: 20px 40px !important;
    position: fixed !important;
    width: 100%;
    z-index: 100;
  }
li{
    font-family: "Sodo Sans SemiBold";
    margin-left: 17px;
    font-size: 0.9rem;
    list-style: none;
}
li a{

    text-decoration: none;
    color: black !important;
}

.loc p a{
    text-decoration: none;
    color: black;
    font-family: Calibri;
    font-weight: bold;
    margin-left: 40px;
    font-size: 1rem;
    padding-right: 16px;
}
.btn1{
    border: 1px solid black;
    border-radius: 20px;
    font-size: 0.9rem;
    background-color: white;
    padding: 5px 16px;
    font-family: Cambria;
    font-weight: bold;
}
.loc i{
    padding-right: 8px;
    font-size: 1.2rem;
}
.btn2{
    border: 1px solid black;
    border-radius: 20px;
    font-size: 12px;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 8px 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.md-btn1{
  border: 1px solid black;
  border-radius: 20px;
  font-size: 0.9rem;
  background-color: white;
  padding: 5px 16px;
  font-family: Cambria;
  font-weight: bold;
}
.md-btn2{
  border: 1px solid black;
  border-radius: 20px;
  font-size: 12px;
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 8px 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
li .nav-link1{
  display: inline !important;
  flex-direction: row !important;
}
.nav-link{
    margin-left: 10px;
}
.content1{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: #D50032;
  color: white;
  padding: 32px 24px !important;
}
.first-content{
  margin-top: 100px !important;
}
.container{
  margin: 0;
  padding: 0;
  background-color: #000;
}
.btn-content{
  font-size: 16px;
  background-color: transparent;
  color: white;
  border-radius: 20px;
  padding: 7px 16px;
  border: 1px solid white;
  margin-top: 32px;
  font-weight: bold;
}
.content2{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: #0B7A55;
  color: white;
  padding: 32px 24px !important;
}
.content3{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: #F2F0EB;
  color: #006241;
  padding: 32px 24px !important;
}
.btn3-content{
  font-size: 16px;
  background-color: transparent;
  color: #006241;
  border-radius: 20px;
  padding: 7px 16px;
  border: 1px solid #006241;
  margin-top: 32px;
  font-weight: bold;
}
.content4{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: #06CE8D;
  color: #1E3932;
  padding: 32px 24px !important;
}
.btn4-content{
  font-size: 16px;
  background-color: transparent;
  color: #2b2e2d;
  border-radius: 20px;
  padding: 7px 16px;
  border: 1px solid #232525;
  margin-top: 32px;
  font-weight: bold;
}
.content5{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: #D50032;
  color: #ffffff;
  padding: 32px 24px !important;
}
.btn5-content{
  font-size: 16px;
  background-color: transparent;
  color: white;
  border-radius: 20px;
  padding: 7px 16px;
  border: 1px solid white;
  margin-top: 32px;
  font-weight: bold;
}
.content6{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: #8E0031;
  color: #ffffff;
  padding: 32px 24px !important;
}
.btn5-content{
  font-size: 16px;
  background-color: transparent;
  color: white;
  border-radius: 20px;
  padding: 7px 16px;
  border: 1px solid white;
  margin-top: 32px;
  font-weight: bold;
}
.footer{

  line-height: 36px;
  border-top: 1px solid rgb(190, 186, 186);
}

.footer p{
  color: rgb(113, 101, 101);
}

.footer p:hover{
  color: rgb(14, 14, 14);
  cursor: pointer;
}

.careers{
  line-height: 34px;
}
.socialimpact{
  line-height: 44px;
}
.socialimpact .env{
  line-height: 19px;
}

.sb-footer{
  text-decoration: none;
  list-style: none;
  display: flex;

}
.sb-footer a i{
  border-radius: 20px !important;
}
.sb-footer a{
  font-size: 26px;

}
.fa-icon-circle {
  display: inline-flex;       
  width: 32px;                
  height: 32px;           
  align-items: center;          
  justify-content: center;      
  border-radius: 50%;         
  background-color: #000;       
  color: #fff !important;                  
  text-decoration: none;            
}

.fa-icon-circle i {
  font-size: 20px;             
  color: #fff !important;                      
}
.fa-spotify{
   font-size: 29px;
}

.sb-footer2 a{
  text-decoration: none;
  font-family: Arial;
  
}
.sb-footer2 a:hover{
  text-decoration: underline;
}
.sb-footer2 ul{
  padding: 0;
  list-style: none !important;
}
.paragraph1{
  text-align: center;
}
.paragraph2{
  text-align: center;
}
#footerparagraph{
  font-size: 14px;
  cursor: auto;
  padding: 16px 0;

}
.accordion-item{
  display: none;
}
.btns .md-btn1,.md-btn2 {
  display: none !important;
}
.nav-item2{
  display: none;
}
a,.md-btn1{
  text-decoration: none;
}
@media only screen and (max-width: 1104px){
  .btn1{
    font-size: 1vw;
  }
  .btn2{
    font-size: 1vw;
  }
}
@media only screen and (max-width: 1037px){
  .loc a{
    font-size: 1vw !important;
  }
}

  @media only screen and (max-width: 992px){
    .loc{
      display: none !important;
    }
    .btn1{
      display: none !important;
    }
    .btn2{
      display: none !important;
    }
    button .md-btn1{
      display: block !important;
    }
    button .md-btn2{
      display: block !important;
    }
    .btns .md-btn1,.md-btn2 {
      display: block !important;
    }
    .nav-item2{
      display: block !important;
    }    
    .accordion-content a{
      text-decoration: none;
      left: 0;
      padding: 0;
      color: black;
     }
}
@media only screen and (max-width:924px){
  .img1{
    background-color: #D50032;
   }
   .img2{
    background-color: #0B7A55;
   }
   .img3{
    background-color: #F2F0EB;
   }
   .img4{
    background-color: #06CE8D;
   }
   .img5{
    background-color: #D50032;
   }
   .img6{
    background-color: #8E0031;
   }
}
@media only screen and (max-width: 768px){
  .loc{
    display: none;
  }
  .btn1{
    display: none;
  }
  .btn2{
    display: none;
  }
   .about{
    display: none;
   }
   .careers{
    display: none;
   }
   .socialimpact{
    display: none;
   }
   .env{
    display: none;
   }
   .fbp{
    display: none;
   }
   .oap{
    display: none;
   }
   .accordion-item{
    display: block;
   }
   .img1{
    background-color: #D50032;
   }
   .img2{
    background-color: #0B7A55;
   }
   .img3{
    background-color: #F2F0EB;
   }
   .img4{
    background-color: #06CE8D;
   }
   .img5{
    background-color: #D50032;
   }
   .img6{
    background-color: #8E0031;
   }
   .first-content h1{
    font-size: 28px !important; 
   }
   .second-content h1{
    font-size: 28px !important; 
   }
   .content5 h1{
    font-size: 28px !important; 
   }
  }